@import url("fadein.css");

:root {
    --bg-color: #f1f1f1;
    --font-color: #505050;
    --link-hover-color: #505050;
}

[data-theme="dark"] {
    --bg-color: #30302e;
    --font-color: #c8c0b2;
    --link-hover-color: #f6efe3;
}

html, body {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: var(--bg-color);
    font-family: 'Muli', sans-serif;
    color: var(--font-color);
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
}

section {
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body > * {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

::-webkit-scrollbar {
    width: 0px;
}

.hidden {
    opacity: 0;
}

.animated {
    -webkit-transition:.3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-transition:.3s; /* Firefox < 16 */
        -ms-transition:.3s; /* Internet Explorer */
         -o-transition:.3s; /* Opera < 12.1 */
            transition:.3s;
}

.header-icons {
    padding: 20px 30px;
    font-size: 20px;
    opacity: 1;
}

#theme {
    float: right;
}

@media only screen and (max-width: 500px) {
    #theme {
        display: none;
    }
}


.title-container {
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    float: left;
    text-align: center;
    width: 100%;
}

.title h1 {
    font-weight: 400;
    font-size: calc(42px + 1vw);
    margin-bottom: 0;
}

.title h2 {
    font-weight: 300;
    margin-top: 0;
    font-size: calc(20px + 0.3vw);
}

a {
    color: inherit;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

a:first-child {
    margin-left: 0;
}

a:hover {
    color: var(--link-hover-color);
}

ul {
    padding: 0;
}

ul a:last-child {
    margin-right: 0;
}

ul i {
    font-size: 24px;
}
